{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
   <h1>{{userInfo["username"] | capitalize}}'s Portfolio</h1>
   <table class="table table-striped">
    <thead>
        <tr>
            <th>Cash Balance</th>
            <th>Grand Total</th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>{{ userInfo["cash"] | usd}} $USD</td>
                <td>{{ grand_total | usd }}</td>
            </tr>
        
        
    </tbody>
</table>
   <table class="table table-striped">
    <thead>
        <tr>
            <th>Share Name</th>
            <th>Amount</th>
            <th>Price (Per)</th>
            <th>Price (Total)</th>
        </tr>
    </thead>
    <tbody>
        {% for s in userTransactionInfo %}
        <tr>
            <td>{{ s["symbol"] }}</td>
            <td>{{ s["shares"] }}</td>
            <td>{{ s["price"] | usd }}</td>
            <td>{{ s["total"] | usd }}</td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>
{% endblock %}
